In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
import webbrowser
website='https://en.wikipedia.org/wiki/NFL_win-loss_records'

In [3]:
webbrowser.open(website)

True

In [8]:
nflframe = pd.read_clipboard()

In [9]:
nflframe

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [10]:
nflframe.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Total Games', u'Division'],
      dtype='object')

In [11]:
nflframe.Rank

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [13]:
nflframe['First NFL Season']

0    1920
1    1960
2    1921
3    1966
4    1960
Name: First NFL Season, dtype: int64

In [14]:
DataFrame(nflframe, columns = ['Team', 'First NFL Season','Total Games'])

                   Team  First NFL Season Total Games
0         Chicago Bears              1920       1,338
1        Dallas Cowboys              1960         850
2     Green Bay Packers              1921       1,304
3        Miami Dolphins              1966         768
4  New England Patriots              1960         852

In [15]:
DataFrame(nflframe, columns = ['Team', 'First NFL Season','Total Games','Location'])

                   Team  First NFL Season Total Games  Location
0         Chicago Bears              1920       1,338       NaN
1        Dallas Cowboys              1960         850       NaN
2     Green Bay Packers              1921       1,304       NaN
3        Miami Dolphins              1966         768       NaN
4  New England Patriots              1960         852       NaN

In [16]:
nflframe

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [18]:
nflframe.ix[3]

Rank                             4
Team                Miami Dolphins
Won                            429
Lost                           335
Tied                             4
Pct.                         0.561
First NFL Season              1966
Total Games                    768
Division                  AFC East
Name: 3, dtype: object

In [20]:
nflframe['Stadium'] = "Levi's Stadium"

In [21]:
nflframe

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,Levi's Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,Levi's Stadium
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,Levi's Stadium
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,Levi's Stadium
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi's Stadium

In [23]:
nflframe['Stadium'] = np.arange(5)

In [24]:
nflframe

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,0
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,1
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,2
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,3
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,4

In [27]:
stadiums = Series(["Levis","AT&T"], index = [4,0])

In [28]:
stadiums

4    Levis
0     AT&T
dtype: object

In [29]:
nflframe['Stadium'] = stadiums

In [30]:
nflframe

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,AT&T
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,NaN
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,NaN
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,NaN
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levis

In [32]:
del nflframe['Stadium']

In [33]:
nflframe

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [34]:
data = {'City':['SF','LA','NYC'],'Population':[800000,900000,6777777]}

In [35]:
city = DataFrame(data)

In [36]:
city

  City  Population
0   SF      800000
1   LA      900000
2  NYC     6777777

In [37]:
ser = Series([1,2,3,4],index = ['A','B','C','D'])
ser

A    1
B    2
C    3
D    4
dtype: int64

In [38]:
ser.index

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [39]:
ser.values

array([1, 2, 3, 4])

In [40]:
ser.index[2:]

Index([u'C', u'D'], dtype='object')

In [41]:
from numpy.random import randn

In [42]:
ser

A    1
B    2
C    3
D    4
dtype: int64

In [43]:
ser1 = ser.reindex(['A','B','C','D','E','F'])

In [44]:
ser1

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [46]:
ser1.reindex(['A','B','C','D','E','F','G'],fill_value=1)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     1
dtype: float64

In [49]:
ser2 = Series(['USA','Mexico','Canada'],index = [0,5,10])

In [50]:
ser2

0        USA
5     Mexico
10    Canada
dtype: object

In [51]:
ranger = range(15)

In [52]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [53]:
ser2.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [54]:
dframe = DataFrame(randn(25).reshape((5,5)),index = ['A','B','D','E','F'],columns = ['col1','col2','col3','col4','col5'])

In [55]:
dframe

       col1      col2      col3      col4      col5
A  1.977578  1.028973  0.250397  0.392624 -0.456696
B  0.807252  0.547611 -1.791686  0.249416  2.936561
D -1.753783  0.447131 -0.490837 -0.099162  0.545690
E  1.173875  1.660659 -1.314827 -1.036909 -0.096147
F -0.074196 -0.028034 -0.598830 -0.838555 -1.601343

In [60]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [61]:
dframe2

       col1      col2      col3      col4      col5
A  1.977578  1.028973  0.250397  0.392624 -0.456696
B  0.807252  0.547611 -1.791686  0.249416  2.936561
C       NaN       NaN       NaN       NaN       NaN
D -1.753783  0.447131 -0.490837 -0.099162  0.545690
E  1.173875  1.660659 -1.314827 -1.036909 -0.096147
F -0.074196 -0.028034 -0.598830 -0.838555 -1.601343

In [58]:
newcol = ['col1','col2','col3','col4','col5','col6']

In [62]:
dframe2.reindex(columns=newcol)

       col1      col2      col3      col4      col5  col6
A  1.977578  1.028973  0.250397  0.392624 -0.456696   NaN
B  0.807252  0.547611 -1.791686  0.249416  2.936561   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.753783  0.447131 -0.490837 -0.099162  0.545690   NaN
E  1.173875  1.660659 -1.314827 -1.036909 -0.096147   NaN
F -0.074196 -0.028034 -0.598830 -0.838555 -1.601343   NaN