In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = Series([3,6,9,12])

In [3]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12])

In [5]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [6]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])

In [7]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [8]:
ww2_cas['USA']

400000

In [9]:
#Check which ocuntries had casualities greater than 4 mil
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [10]:
'USSR' in ww2_cas

True

In [11]:
wwdic = ww2_cas.to_dict()

In [12]:
wwdic

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [13]:
ww2 = Series(wwdic)

In [14]:
ww2

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [19]:
countries = ['China', 'Germany','India']

In [16]:
countries

['China', 'Germany']

In [20]:
obj = Series(wwdic, index=countries)
obj

China      3000000
Germany    4300000
India          NaN
dtype: float64

In [21]:
pd.isnull(obj)

China      False
Germany    False
India       True
dtype: bool

In [22]:
pd.notnull(obj)

China       True
Germany     True
India      False
dtype: bool

In [23]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [26]:
obj

China      3000000
Germany    4300000
India          NaN
dtype: float64

In [27]:
ww2_cas + obj

China      6000000
Germany    8600000
India          NaN
Japan          NaN
USA            NaN
USSR           NaN
dtype: float64

In [28]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [29]:
obj

China      3000000
Germany    4300000
India          NaN
dtype: float64

In [30]:
obj.shape

(3,)

In [31]:
obj[2]

nan

In [33]:
obj[2] = NULL

NameError: name 'NULL' is not defined