In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
dframe = pd.read_csv('test.csv')

In [3]:
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [4]:
dframe = pd.read_csv('test.csv',header=None)

In [5]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [6]:
dframe = pd.read_table('test.csv',sep=',',header=None)

In [7]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [9]:
pd.read_csv('test.csv',header=None,nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [10]:
import sys

In [11]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [12]:
dframe.to_csv(sys.stdout, sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [13]:
dframe.to_csv(sys.stdout, columns = [0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5

In [14]:
#json

json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [16]:
import json
data = json.loads(json_obj)

In [17]:
data

{u'clothes': None,
 u'diet': [{u'food': u'grass', u'fur': u'Brown', u'zoo_animal': u'Gazelle'}],
 u'food': [u'Meat', u'Veggies', u'Honey'],
 u'fur': u'Golden',
 u'zoo_animal': u'Lion'}

In [18]:
json.dumps(data)

'{"food": ["Meat", "Veggies", "Honey"], "zoo_animal": "Lion", "fur": "Golden", "diet": [{"food": "grass", "zoo_animal": "Gazelle", "fur": "Brown"}], "clothes": null}'

In [19]:
df = DataFrame(data['diet'])

In [20]:
df

    food    fur zoo_animal
0  grass  Brown    Gazelle

In [21]:
#html

In [3]:
from pandas import read_html

In [4]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'

In [7]:
dfr = pd.io.html.read_html(url)

In [21]:
drf

               CERT
count    543.000000
mean   31878.381215
std    16364.083596
min      151.000000
25%    20454.500000
50%    32247.000000
75%    35375.500000
max    58701.000000

In [19]:
dfr[0].columns.values

array([u'Bank Name', u'City', u'ST', u'CERT', u'Acquiring Institution',
       u'Closing Date', u'Updated Date', u'Loss Share Type',
       u'Agreement Terminated', u'Termination Date'], dtype=object)

In [3]:
#excel

In [4]:
xlsfile = pd.ExcelFile('test1.xlsx')

In [5]:
dfr = xlsfile.parse('Sheet1')

In [6]:
dfr

   test  Unnamed: 1  Unnamed: 2
0     2          45         234
1   123         234        6345
2   654        4656          46
3   345         456         678
4  6786        5345          65

In [ ]:
dfr()